{% load static %}
{% load customtags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Authentification</title>
        <link rel="stylesheet" href={% static 'css/accueil.css' %}>
    </head>

<body>
    <h1>Authentification - Gestionnaire de mot de passe</h1>

        <h2>Authentification requise</h2>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Se connecter">
    </form>

    <p>

        <a href="{% url 'register_user' %}">Créer un compte</a>

    </p>

        
</body>
</html>
