{% load static %}
{% load customtags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Authentification</title>
        <link rel="stylesheet" href={% static 'css/accueil.css' %}>
    </head>

<body>
    <h1>Authentification - Gestionnaire de mot de passe</h1>
    
        <h2>Creation de compte</h2>

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Inscription">
    </form>


    <a href="{% url 'login_user' %}">Revenir a la page de login</a>

        
</body>
</html>
