body{
    background-color: #fff5f58f;
    color: rgb(0, 0, 0);
    margin: auto;
    width: 800px;
}
p{
    color: rgb(0, 0, 0);
}
table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid #050505;
    padding: 5px;
}