{% load static %}
{% load customtags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mes mots de passe</title>
        <link rel="stylesheet" href={% static 'css/accueil.css' %}>
    </head>


{% if user.is_authenticated %}
    <p>Utilisateur: {{ user.username }} | <a href="{% url 'logout_user' %}">Déconnexion</a></p>
{% endif %}




<body>
    <h1>Gestionnaire de mot de passe</h1>

        <h2>Bienvenue sur le gestionnaire de mot de passe !</h2>

        <p>
            <a href="{% url 'ajouter_credential' %}">Acceder a la page d'ajout de mot de passe</a>    
        </p>


        <table aria-describedby="Tableau principale">
            <tr>
                <th>Nom du site</th>
                <th>Identifiant</th>
                <th>Mot de passe</th>
                <th colspan="2">Action</th>
            </tr>
            {% for cred in credentials %}
            <tr>
                <td>{{ cred.nom_du_site }}</td>
                <td>{{ cred.identifiant }}</td>
                <td>{{ cred.mot_de_passe }}</td>
                <td><a href="{% url 'modifier_credential' cred.id %}">Modifier</a></td>
                <td><a href="{% url 'supprimer_credential' cred.id %}">Supprimer</a></td>
            </tr>
            {% endfor %}
        </table>

</body>
</html>
