{% load static %}
{% load customtags %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mes mots de passe</title>
        <link rel="stylesheet" href={% static 'css/accueil.css' %}>
    </head>

<body>
    <h1>Gestionnaire de mot de passe</h1>

        <h2>Gestion de mot de passe</h2>

            <h3>Renseigner les champs suivants</h3>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Valider" id="valider">
                </form>

                <p>
                    <a href="{% url 'accueil' %}">Revenir a la page d'accueil</a> 
                </p>
    



</body>
</html>
